#body{
    -fx-background-color:linear-gradient(#2f4353, #d2ccc4);
}
#leftBar,.button{
    -fx-background-color:#2f4353;
    -fx-text-fill: #fff;
}
.button:hover{
    -fx-background-color: #1a252d;
}
#borderPane{
    -fx-effect: dropshadow(three-pass-box, #2f4353, 15, 0, 0, 0);
    -fx-background-color: #E0E0E0;
}
.textField{
     -fx-background-color: -fx-control-inner-background;
}
.text{
     -fx-fill: #fff;

}
.navBar{
    -fx-background-color:white;
    -fx-padding:0 10 0 0;
}
.navbarButton:hover{
    -fx-background-color: #e5e5e5;
    -fx-background-radius:50%;
}

