#body,.centerBar{
    -fx-background-color:#0d1117;
}
#leftBar,#rightBar{
    -fx-background-color:#161b22;
    -fx-border-color:white;
}
#leftBar{
    -fx-border-width: 0 0.4px 0 0;
}
#rightBar{
    -fx-border-width: 0 0 0 0.4px;
}
#textField{
    -fx-background-color: #1e1e1e;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color:  #588BAE;
    -fx-border-radius: 4px;
    -fx-text-fill: white;

}
.buttonLeftBar{
    -fx-background-color: teal;
    -fx-text-fill: #fff;
}
.buttonLeftBar:hover{
    -fx-background-color: #00B0B1;
}
.textArea{
    -fx-control-inner-background: #090c10;
    -fx-background-color:#090c10;
    -fx-background:#090c10;
    -fx-opacity:1.0;
    -fx-border-color:gray;
    -fx-border-width:0px;
    -fx-text-fill: white;
    -fx-prompt-text-fill:gray;
}

#img{
    -fx-border-radius:50px;
}
#createMessageButton{
    -fx-background-color:transparent;
}
#textFieldLogin{
    -fx-control-inner-background: #090c10;
    -fx-background-color:#090c10;
    -fx-background:#090c10;
    -fx-text-fill: white;
}
.addUserButton{
    -fx-background-color: #161b22;
    -fx-text-fill:white;
    -fx-max-width:515px;
    -fx-pref-width:515px;
}
.friendButton{
    -fx-background-color:#0d1117;
    -fx-text-fill:white;
    -fx-max-width:200px;
    -fx-pref-width:200px;
}
.addUserButton:hover,.friendButton:hover{
    -fx-background-color: teal;
}
.button{
    -fx-background-color: transparent ;
}
.button:hover{
    -fx-background-color:#1e242e;
}